# Editor directories and files
# local env files
# Log files
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.env.*.local
.env.local
.idea
.vscode
/.php_cs.cache
/dist
/vendor/
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
